<%- include("partials/user-page-header") -%>



                                    <% newListItems.forEach(item => { %> 
                                    <li class="list-group-item">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left mr-2">
                                                    <div class="custom-checkbox custom-control"> <input class="custom-control-input" id="exampleCustomCheckbox12" type="checkbox"><label class="custom-control-label" for="exampleCustomCheckbox12">&nbsp;</label> </div>
                                                </div>
                                                <div class="widget-content-left">

                                                    <!-- TITLE goes here -->
                                                    <div class="widget-heading">
                                                        <%= item.name %> 
                                                    </div>

                                                    <!--Calendar entry goes here-->
                                                    <small>
                                                        <%= item.date %> 
                                                    </small>

                                                    <!--Details go here-->
                                                    <div class="widget-subheading">
                                                        <i>Made by <%= user.username %></i>
                                                    </div>

                                                    <!--TAGS can be attached here-->

                                                </div>
                                                <div class="widget-content-right"> 
                                                    <form action="/umbrella" method="POST">
                                                        <input type="hidden" name="listName" value="<%= item.name %>"></input>
                                                        <button 
                                                        class="border-0 btn-transition btn btn-outline-success" 
                                                        name="listId"
                                                        value="<%= item._id %>">
                                                            <i class="fa fa-umbrella"></i></i>
                                                        </button>   
                                                    </form>
                                                    
                                                    <form action="/delete" method="POST">
                                                        <input type="hidden" name="listName" value="<%= item.name %>"></input>
                                                        <input type="hidden" name="userId" value="<%= user._id %>"></input>
                                                        <button 
                                                        class="border-0 btn-transition btn btn-outline-danger"
                                                        name="listId"
                                                        value="<%= item._id %>"> 
                                                            <i class="fa fa-trash"></i> 
                                                        </button> 
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <% }) %> 






                                </ul>
                            </div>
                        </div>
                    </perfect-scrollbar>
                </div>
                <div class="d-block text-right card-footer">
                  <!-- MY PASTE STARTS HERE -->
            <button
            type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#exampleModal"
          >
            Add a Reminder
          </button>

          <!-- Modal -->
          <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    New Reminder
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>




                <form action="/" method="POST">

                  <div class="modal-body">
                    <div class="form-group">
                      <!-- Reminder Header -->
                      <label for="recipient-name" class="col-form-label">Title:</label>
                      <input type="hidden" name="userId" value="<%= user._id %>"></input>
                      <input type="text" class="form-control" id="recipient-name" name="listTitle">
                    </div>
                    <!--Reminder Date-->
                    <div class="form-group">
                      <div class="grid">
                      <div class="col-1-4 col-1-4-sm">
                        <div class="controls">
                          <input type="date" id="arrive" class="floatLabel" name="listDate" value="<?php echo date('Y-m-d'); ?>">
                          <label for="arrive" class="label-date"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Date</label>
                        </div>      
                      </div>
                        </div>
                        <!--Reminder Details-->
                    <div class="form-group">
                      <label for="message-text" class="col-form-label">Details:</label>
                      <textarea class="form-control" id="message-text" name="listDetails"></textarea>
                    </div>
                  </div>

                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-dismiss="modal"
                    >
                      Close
                    </button>
                    <button type="submit" class="btn btn-primary">
                      Save changes
                    </button>
                  </div>
                
                </form>



<%- include("partials/user-page-footer") -%>